// Color palette
$dark-purple: #201335;
$ultra-violet: #4f4789;
$sandy-brown: #FFB17A;
$platinum: #E6E8E6;
$maize: #FCE762;

// Font style
$font-p: "Kite One",
sans-serif;
$font-title: "Jockey One",
sans-serif;