* {
  margin: 0;
  padding: 0; }

html {
  scroll-behavior: smooth; }

body {
  margin: 0; }

.bg-container {
  background-color: #E6E8E6;
  width: 100%; }

.bg-dark-container {
  background-color: #201335 !important; }

.container, .header .container-position {
  display: flex; }
  .container-search {
    display: flex;
    flex-direction: column-reverse;
    gap: 1rem;
    margin: 2rem 2rem 0 2rem; }
  .container-vertical {
    flex-direction: column; }

.visibility-hidden {
  visibility: hidden; }

.justify-evenly {
  justify-content: space-evenly !important; }

.justify-between, .header .container-position {
  justify-content: space-between; }

.header .navbar {
  background-color: #201335 !important; }

.header .logo {
  width: 11rem;
  height: 2rem; }

.header .navbar-collapse {
  flex-grow: 0; }

.header .nav-link {
  margin: 0.5rem;
  border-radius: 0.5rem;
  background-color: #4f4789;
  color: #E6E8E6 !important;
  transition: all 200ms ease-in-out; }
  .header .nav-link:hover {
    transition: all 200ms ease-in-out;
    background-color: #FFB17A;
    color: #FCE762 !important; }

.header .container-position {
  margin-bottom: 0.65rem; }
  .header .container-position a {
    width: 15rem;
    height: 5rem;
    text-align: center;
    text-decoration: none;
    color: #201335;
    line-height: 5rem;
    font-size: 2rem; }
    .header .container-position a:hover {
      color: #FFB17A;
      transition: color 250ms ease-in-out; }
    .header .container-position a :not(:hover) {
      transition: color 150ms ease; }
    @media (max-device-width: 991px) {
      .header .container-position a {
        width: 6rem;
        height: 2rem;
        line-height: 3rem; } }
  .header .container-position .current {
    text-align: center;
    line-height: 5rem;
    font-size: 3rem;
    font-family: "Jockey One", sans-serif;
    color: #4f4789; }
    @media (max-device-width: 991px) {
      .header .container-position .current {
        line-height: 3rem;
        font-size: 1.4rem; } }

.card {
  background-color: #E6E8E6; }
  .card-body {
    display: flex;
    flex-direction: column; }
  .card-img {
    height: 10rem;
    object-fit: cover; }
  .card-description {
    font-size: 0.8rem; }

.vh-70 {
  min-height: 70vh; }

.details-img {
  height: 12rem;
  border-radius: 0.3rem; }

.btn-primary {
  border: none;
  height: 2.5rem;
  width: 5rem;
  background-color: #4f4789 !important;
  color: #E6E8E6 !important;
  transition: all 200ms ease-in-out; }
  .btn-primary:hover {
    transition: all 200ms ease-in-out;
    background-color: #FFB17A !important;
    color: #FCE762 !important; }

.form {
  height: 70vh; }

.footer {
  justify-self: flex-end; }
  .footer .rrss {
    height: 3rem;
    width: 3rem;
    margin: 1rem 0.75rem 1rem 0.75rem;
    filter: invert(100%) sepia(19%) saturate(7288%) hue-rotate(325deg) brightness(104%) contrast(103%); }

@supports (-webkit-appearance: none) or (-moz-appearance: none) {
  input[type='checkbox'],
  input[type='radio'] {
    --active: #FFB17A;
    --active-inner: #FCE762;
    --focus: 2px rgba(39, 94, 254, .3);
    --border: #4f4789 !important;
    --border-hover: #4f4789;
    --background: #4f4789;
    --disabled: #F6F8FF;
    --disabled-inner: #E1E6F9;
    -webkit-appearance: none;
    -moz-appearance: none;
    height: 21px;
    outline: none;
    display: inline-block;
    vertical-align: top;
    position: relative;
    margin: 0;
    cursor: pointer;
    border: 1px solid var(--bc, var(--border));
    background: var(--b, var(--background));
    transition: background .3s, border-color .3s, box-shadow .2s; }
    input[type='checkbox']:after,
    input[type='radio']:after {
      content: '';
      display: block;
      left: 0;
      top: 0;
      position: absolute;
      transition: transform var(--d-t, 0.3s) var(--d-t-e, ease), opacity var(--d-o, 0.2s); }
    input[type='checkbox']:checked,
    input[type='radio']:checked {
      background-color: var(--active) !important;
      border-color: var(--active) !important;
      --d-o: .3s;
      --d-t: .6s;
      --d-t-e: cubic-bezier(.2, .85, .32, 1.2); }
    input[type='checkbox']:disabled,
    input[type='radio']:disabled {
      --b: var(--disabled);
      cursor: not-allowed;
      opacity: .9; }
      input[type='checkbox']:disabled:checked,
      input[type='radio']:disabled:checked {
        --b: var(--disabled-inner);
        --bc: var(--border); }
      input[type='checkbox']:disabled + label,
      input[type='radio']:disabled + label {
        cursor: not-allowed; }
    input[type='checkbox']:hover:not(:checked):not(:disabled),
    input[type='radio']:hover:not(:checked):not(:disabled) {
      --bc: var(--border-hover); }
    input[type='checkbox']:focus,
    input[type='radio']:focus {
      box-shadow: 0 0 0 var(--focus) !important; }
    input[type='checkbox']:not(.switch),
    input[type='radio']:not(.switch) {
      width: 21px; }
      input[type='checkbox']:not(.switch):after,
      input[type='radio']:not(.switch):after {
        opacity: var(--o, 0) !important; }
      input[type='checkbox']:not(.switch):checked,
      input[type='radio']:not(.switch):checked {
        --o: 1; }
    input[type='checkbox'] + label,
    input[type='radio'] + label {
      font-size: 14px;
      line-height: 21px;
      display: inline-block;
      vertical-align: top;
      cursor: pointer;
      margin-left: 4px; }
  input[type='checkbox']:not(.switch) {
    border-radius: 7px; }
    input[type='checkbox']:not(.switch):after {
      width: 5px;
      height: 9px;
      border: 2px solid;
      border-color: var(--active-inner) !important;
      border-top: 0;
      border-left: 0;
      left: 7px;
      top: 4px;
      transform: rotate(var(--r, 20deg)); }
    input[type='checkbox']:not(.switch):checked {
      --r: 43deg; }
  input[type='checkbox'].switch {
    width: 38px;
    border-radius: 11px; }
    input[type='checkbox'].switch:after {
      left: 2px;
      top: 2px;
      border-radius: 50%;
      width: 15px;
      height: 15px;
      background: var(--ab, var(--border)) !important;
      transform: translateX(var(--x, 0)); }
    input[type='checkbox'].switch:checked {
      --ab: var(--active-inner) !important;
      --x: 17px !important; }
    input[type='checkbox'].switch:disabled:not(:checked):after {
      opacity: .6; }
  input[type='radio'] {
    border-radius: 50%; }
    input[type='radio']:after {
      width: 19px;
      height: 19px;
      border-radius: 50%;
      background: var(--active-inner);
      opacity: 0;
      transform: scale(var(--s, 0.7)); }
    input[type='radio']:checked {
      --s: .5; } }
